#sideboard {
    width: auto;
    float: left;
}

.btn-secondary {
    background-color: whitesmoke;
    color: black;
}
/* table関連 */
table {
    border-spacing: 0;
    width: 90%;
}

table tr {
    border-bottom: solid 2px white;
    cursor: pointer;
}

table th {
    font-size: 27px;
    background-color: rgb(245, 237, 224);
}

table tr:hover {
    background-color: #d4f0fd;
}

table th,
table td {
    text-align: left;
    padding: 15px 0;
}
/* 奇数行 */
table tr:nth-child(2n + 1) {
    background-color: #f4eaf4;
}
/* 偶数行 */
table tr:nth-child(2n) {
    background-color: #c7e0e9;
}

table tr td[class="book-image"] {
    width: 5%;
    padding: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}

table tr td[class="title"] {
    font-size: 25px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

table tr th[id="title-head"] {
    width: 30%;
    text-align: center;
}

table tr td[class="author"],
[id="author-head"] {
    width: 30%;
    text-align: center;
}

table tr td[class="ymd"],
th[id="ymd-head"] {
    width: 16%;
    text-align: center;
}
table tr td[class="del-button"] {
    background-color: none;
    width: 7%;
    text-align: center;
    padding: auto;
    text-align: center;
    color: black;
}

table tr td[class="ref-button"] {
    background-color: none;
    width: 7%;
    text-align: center;
    padding: auto;
    text-align: center;
    color: black;
}

#delete-form {
    margin-top: auto;
    margin-bottom: auto;
}

#paginate-link {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.bi-search {
    color: black;
    font-size: 30px;
}
